<div class="container" style="background-color: #000000; max-width: 100%">
  <footer>
    <div class="row">
      <div class="col-6 col-md-2 mb-2">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">About us</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">Bio</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-2">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">Services</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">Consulting services</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data"
              >Management consulting</a
            >
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data"
              >Cloud partner management</a
            >
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-2">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">Partners</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-2">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">News</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">Press Releases</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-2">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">Blogs</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-2">
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 footer-data">Contact Us</a>
          </li>
        </ul>
        <img
          width="59px"
          height="55px"
          src="../../assets/images/LinkedIn.png"
          alt="LinkedIn"
        />
      </div>
    </div>

    <div
      style="font-size: 20px; color: #ffffff"
      class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
    >
      <p>
        © 2024 ZS Alliance Consulting | All Rights Reserved | Privacy Policy
      </p>
    </div>
  </footer>
</div>
